body {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 400px;    /* Footer height */
}
.footer{
  background: #222222;
  color:white;

	min-height: 350px;
	padding: 10px 0px 25px 0px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	
  //text-align: center;
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
  
  
}

/*footer*/


